{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Python (MongoDB) + Golang</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Python (MongoDB) + Golang</h1>   
{{ end }}